body{
    background-image: url("./image/istockphoto-904523520-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    z-index: -2;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
h1{
    margin-bottom: 10px;
    color: white;
}
h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}
button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    border-radius: 5px;
    color: white;
}
#increment-btn{
    background-color: darkgreen;
}
#save-btn{
    background: darkred;
}
p{
    color: white;
    text-shadow: aquamarine ;
}