*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: left;
}
h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}
button{
    border-radius: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(235, 247, 247);
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn{
    background-color: rgb(234, 22, 54);
}
#save-btn{
    background-color: rgb(45, 253, 52);
}